openapi: 3.0.0
info:
  description: >-
    Публичный API доступа к банку данных исполнительных производств разработан
    во исполнение пункта 7.4 Порядка создания и ведения банка данных в
    исполнительном производстве Федеральной службы судебных приставов,
    утвержденного приказом Федеральной службы судебных приставов от 12 мая 2012
    г. No 248 (в редакции приказа от 27.12.2017 No 676).
  version: "1.0"
  title: BD API  Федеральной службы судебных приставов
  contact:
    email: admin@fssprus.ru
servers:  
  - url: https://api-ip.fssprus.ru/api/v1.0/
 
tags:
  - name: search
    description: Описание методов API
    externalDocs:
      description: Find out more
      url: 'http://swagger.io'

paths:
  /search/physical:
    get:
      tags:
        - search
      summary: Запрос на поиск сведений о физическом лице
      parameters:
        - in: path
          name: region
          schema:
            type: integer
          required: true
          
 
          
        - in: path
          name: firstname
          schema:
            type: string
          required: true
          
          
          
        - name: lastname
          in: path
          schema:
            type: string
          required: true
          
        - name: birthdate
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: successful operation
        '401':
          description: invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example: 
                status: "error"
                code: 401
                exception: "invalid token"
          
  /search/legal:
    get:
      tags:
        - search
      summary: Запрос на поиск сведений о юридическом лице
      parameters:
        - name: name
          in: path
          required: true
          type: string
        - name: region
          in: path
          required: true
          type: number
        - name: adress
          in: path
          type: string
      responses:
        '200':

          description: successful operation
  /search/ip:
    get:
      tags:
        - search
      parameters:
        - name: name
          in: path
          required: true
          type: string
        - name: region
          in: path
          required: true
          type: number
        - name: adress
          in: path
          required: false
          type: string
      responses:
        '200':

          description: successful operation
  /search/group:
    post:
      tags:
        - search
      parameters:
        - name: name
          in: path
          required: true
          type: string
        - name: region
          in: path
          required: true
          type: number
        - name: adress
          in: path
          required: false
          type: string
      responses:
        200:
          description: successful operation

components:
  schemas:
    Response:
      type: object
      properties:
        status:
          type: string
        code:
          type: integer
        exception:
          type: string
